<!doctype html>
<html>
<head>
  <title>Table</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
  <style type="text/css">
  .main {
    width: 60%;
    padding-top: 1rem;
  }
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
  }
  .title {
    font-size: 84px;
    font-family: 'Codystar', cursive;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="bar">
    <a href="http://127.0.0.1:8000/concerts/form/?code={{ code }}" class="btn btn-lg btn-primary btn-outline-primary" style="margin-left: 2%">Return</a>
    <h1 class="title">Concert Finder</h1>
    <a href="/concerts" class="btn btn-lg btn-primary btn-outline-primary" style="margin-right: 2%">Logout</a>
  </div>
  <hr style="margin: 0;"/>
  <center>
  <div class="main">
    <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Artist</th>
          <th>Map</th>
        </tr>
      </thead>
      <tbody>
      {% for artist in top_artists %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ artist }}</td>
          <td id={{ forloop.counter }}></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </center>
  <script>
    {% load js %}
    var a = {{ top_artists | js }};
    jQuery.each(a, function( i, val ) {
                                       $.getJSON("http://api.songkick.com/api/3.0/search/artists.json?apikey=cXZIiAYhAxu4hSUU&per_page=1&query=" + 
                                         encodeURI(val.replace(/\s/g, '_')), 
                                        function(data) {
                                                        var page = data.resultsPage
                                                        if (page.totalEntries) {
                                                          artist = page.results.artist[0]
                                                          if (artist.onTourUntil) {
                                                            var str = artist.id + '_' + val.replace(/\s/g, '_');
                                                            $("#" + (i + 1)).append('<a target=_blank href=' + str + '>Upcoming concerts for ' + val + '</a>')
                                                          }
                                                          else {
                                                            $("#" + (i + 1)).append(val + ' has no upcoming concerts')
                                                          }
                                                        }
                                                        else {
                                                          $("#" + (i + 1)).append(val + ' has no upcoming concerts')
                                                        }
                                                       }
                                                );
                                      }
               );
  </script>
</body>
</html>
